* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;

}


body {
    margin-top: 4rem;
}

/* General Styles */

.container {
    max-width: 900px;
    margin: 0 auto;
}

.container-1 {
    max-width: 750px;
    margin: 0 auto;

}

.title-1 {
    font-size: 3.3rem;
    font-weight: 800;
}

.title-2 {
    font-size: 1.8rem;
    font-weight: 700;
}

.title-3 {
    font-size: 0.9rem;
    font-weight: 700;
}

.text {
    font-size: .7em;
    line-height: 1.2;
    color: #4b4b4b;
}

.button-1 {
    padding: .3em .6em .3em .6em;
    display: flex;    
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-weight: 600;
    background-color: #0061ff;
    color: white;
}


.button-2 {
    padding: .5em .7em .5em .7em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #0061ff;
    color: white;
}



/* Header */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: white;
    white-space: nowrap;
}



.navbar-header {
    max-width: none;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: white;
    
}

.logo-header {
    width: 6.5em;
    margin-right: 2em;
    vertical-align: bottom;
}

.header-left, .header-right {
    display: flex;
    justify-content: space-between;
}


.list-header-left, .list-header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
}

.navbar-header a {
    text-decoration: none;
    color: #4b4b4b;
}

.navbar-header li:not(.login) {
    margin-right: 2em;
}


.begin-header {
    margin-left: 1em;
}

.begin-header > a {
    color: white;
    text-decoration: none;
}


/* Prima Sezione */

.first-section {
    
    background-color: #b4d0e7;
    padding-top: 3.3rem;
}


.first-section-main {
    display: flex;
    position: relative;
    top: 3.5rem;
    margin-top: -1.5rem;
}

.first-section-main-left {
    display: flex;
    flex-direction: column;
}


.first-section-title {
    max-width: 1000px;
}


.first-section-paragraph {
    max-width: 250px;
    color: black;
}


.first-section-button {
    width: fit-content;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.first-section-button > a {
    color: white;
    text-decoration: none;
}

.first-section-cancel {
    margin-bottom: 4.5em;
    color: black;
}

.arrow-down {
    margin-top: 1rem;
    font-size: 1.7em;
    font-weight: 900;
}


.first-section-pic {
    width: 70%;
    z-index: 0;
}







/* Seconda Sezione */



.second-section {
    margin-top: 6rem;
}

.radio-block {
    margin-top: 2.3rem;
    margin-bottom: 2.4rem;
}

.radio-button {
    display: inline-block;
    margin-right: 2.5rem;
    color: black;   
}

input {
    vertical-align: middle;
}




/* Terza Sezione */




.third-section {
    display: flex;
}

.third-section-pic {
    width: 60%;
}

.third-section-block{
    /* position: relative;
    top: 2rem; */
    margin-top: 2em ;
    margin-left: 2em;
}

.third-section-title {
    max-width: 200px;
    
}

.third-section-paragraph {
    max-width: 200px;
    margin-top: .5em;
    margin-bottom: 2em;
}

.third-section-button {
    width: fit-content;
    background-color: white;
    border: 1.7px solid #4b4b4b;
}

.third-section-button > a {
    text-decoration: none;
}




/* Quarta Sezione */


.fourth-section {
    margin-top: 5rem;
}

.fourth-section-block {

    margin-top: 2.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  
}


.fourth-section-card {
    width: calc((100% / 3) - 2rem); 
    display: flex;
    flex-direction: column;
}

.fourth-section-card > p {
    margin-top: 1.7em;
}




/* Quinta sezione */

.fifth-section {
    margin-top: 9rem;
}

.fifth-section > h2 {
    max-width: 500px;
    margin-bottom: 2rem;
}

.fifth-section > a {
    color: blue
}



/* Sesta sezione */

.sixth-section {
    margin-top: 5.5rem;
    display: flex;
    justify-content: space-between;
}




.sixth-section-pic-block {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    /* background-color: green; */
    flex-basis: 300px;
}


.sixth-section-pic-block:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.sixth-section-pic {
    width: 6.5em;
    /* inset: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1) 
}

.block-left {
    flex-basis: calc(100% / 3);
}


.block-right {
    flex-basis: calc(100% / 3);
}

.block-center {
    flex-basis: calc(100% / 3);
    padding: 2.5em;
    background-color: #f5f5f5;
    /* overflow-y: scroll; */
}

.block-center > img {
    width: 12em;
    margin-bottom: 1.7rem;
}

.block-center > hr {
    width: 5rem;
    margin: 20em inherit;
}

.block-center > p {
    margin-top: 1.7rem;
    margin-bottom: 2.2rem;
    color: black;
}

.block-center > span {
    color: black;
}


.block-left1{

    display: flex;
}

.block1 {
    background-color: #a2d39b;
    border: 12px solid #d1e9cd;
}

.block2 {
    background-color: #61082b;
}


.block-left2{

    display: flex;
}

.block3 {
    background-color: #0093ce;
}

.block4 {
    background-color: #ff1c1c;
}

.block-right1{

    display: flex;
}

.block5 {
    background-color: #d5001f;
}

.block6 {
    background-color: #b4d0e7;
}


.block-right2{

    display: flex;
}

.block7 {
    background-color: #0d2481;
}

.block8 {
    background-color: #ffd830;
}






/* Settima sezione */

.seventh-section {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
    background-color: #b4d0e7 ;

}
.seventh-section-block {
    display: flex;
    align-items: center;
    background-color: #b4d0e7;
}

.seventh-section-block > h2 {
    max-width: 400px;
    color: #61082b;
    margin-right: 3em;
}

.seventh-section-button {
    height:fit-content;
    font-size: 0.7em;
    font-weight: 400;
    vertical-align:top;
    padding: .7em 2.8em .7em 2.8em;
    background-color: white;
    color: black;
}



/* Ottava sezione */

.eighth-section-block {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.eighth-section > .title-2 {
    margin-bottom: 5rem;
}

.eighth-section-block-fc{
    margin-top: 2.5rem;
} 

.eighth-section-block > div {
    display: flex;
    justify-content:space-between;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid #4b4b4b;
    color: black;
    font-weight: 700;

    
}

.eighth-section-block i {
    position: relative;
    right: 2rem;


}

/* Footer */

footer {
    padding-top: 3em;
    padding-bottom: 1.7em;
    background-color: black;

}





.footer-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5em;
    background-color: black;
}

/* .footer-end {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #465279;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 30px;
} */

.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul > .title-3 {
    color: white;
    margin-bottom: 1em;
}

ul > li:not(.title-3){
    margin-bottom: 0.6em;
}

ul a {
    color: white;
    text-decoration: none;
}




.footer-footer > div {
    max-width: fit-content;
    padding-top: 2.5em;
    padding-right: 1.5em;
    border-top: 1px solid white;
}

.footer-footer a {
    text-decoration: none;
    color: #f5f5f5;
}
