* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: salmon;
}


.container {
    max-width: 900px;
    margin: 0 auto;
}

.navbar-top {
    max-width: none;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: salmon;
}

.bar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 7em;
    margin-right: 2.5em;
    vertical-align: baseline;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    vertical-align: super;
    font-size: 15px;
}

.list-header a {
    text-decoration: none;
}

.list-header li {
    margin-right: 1em;
    flex-shrink: 0;
}

.last-li-header {
    
    padding: .5em;
    background-color: white;
}



.first-section {
    
    background-color: #b4d0e7
}

.first-section-main {
    display:flex;
    position: relative;
    top:60px
    
}


.first-section-pic {
    width: 60%;

}

.second-section {
    background-color: lightpink;
}


.business-type {
    width: calc(100% - 1rem / 3);
}

.business-type div {
    margin-bottom: 2rem;
}

.form-container {
    display: flex;
    gap: 2rem;
}

.business-type {
    border: 1px solid black;
}

.business-type-name {
    border-bottom: 1px solid black;
}


