* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 4rem;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: white;
    white-space: nowrap;

}


.container {
    max-width: 900px;
    margin: 0 auto;
}

.navbar-header {
    max-width: none;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: white;
    
}

.logo-header {
    width: 6.5em;
    margin-right: 2em;
    vertical-align: bottom;
}

.header-left, .header-right {
    display: flex;
    justify-content: space-between;
}


.list-header-left, .list-header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: .8em;

    
}

.navbar-header a {
    text-decoration: none;
    color: #4b4b4b;
}

.navbar-header li:not(.login) {
    margin-right: 2em;
}


.begin-header {
    margin-left: 1em;
    padding: .4em .7em .4em .7em;
    font-size: .8em;
    font-weight: 500;
    background-color: #0061ff;
    color: white;
    white-space: nowrap;
}






.first-section {
    
    background-color: #b4d0e7;
    padding-top: 3.5rem;
}


.first-section-main {
    display: flex;
    position: relative;
    top: 3.5rem;
}

.first-section-main-left {
    display: flex;
    flex-direction: column;
}


.first-section-title {
    max-width: 1000px;
    font-size: 4rem;
    font-weight: 800;
}


.first-section-content-paragraph {
    max-width: 250px;
    font-size: .8em;
    line-height: 1.2em;
}


.first-section-content-button {
    max-width: max-content;
    padding: .5em .8em .5em .8em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: .8em;
    font-weight: 500;
    color: white;
    background-color: #0061ff;
}

.first-section-content-cancel {
    font-size: .9em;
    margin-bottom: 4.5em;

}

.arrow-down {
    font-size: 1.7em;
}

/* .first-section-main {
    display:flex;
    position: relative;
    top:60px;
} */


.first-section-pic {
    width: 70%;
    z-index: 0;

}

.second-section {
    padding-top: 6.5rem
}

.button-block {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}




.business-type {
    width: calc((100% / 3) -1rem);
}

.business-type div {
    margin-bottom: 2rem;
}

.form-container {
    display: flex;
    gap: 2rem;
}

.business-type {
    border: 1px solid black;
}

.business-type-name {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
}

.third-section-block {
    display: flex;
}

.third-section-pic {
    width: 100%;
}



.fourth-section {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}


.fourth-section-card {
    width: calc((100% / 3) - 1rem); 
    display: flex;
    flex-direction: column;
}


.fourth-section-pic {
    width: 100%;
}



.section-final {
    width: 100%;
}

.block-final {
    width: 10%;
    /* height: 200px; */
    background-color: green;
}

.block-final:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.pic-final {
    width: 100px;
}



